@import "vars";
#sectionTitle {
    --color: var(--white-color);
    --padding: 40px 0px;
    --line-mt: 30px;
    --text-display: block;
    --line-h:10px;
    color: var(--color);
    padding: var(--padding);
    h1 {
        font-size: var(--md-heading);
        font-weight: 700;
    }
    .sectionTitle__text {
        max-width: 800px;
        margin: 40px 0px;
        font-size: 22px;
        display: var(--text-display);
    }
    .line {
        background: var(--color);
        width: 40%;
        height: var(--line-h);
        margin-top: var(--line-mt);
        display: inline-block;
    }

    @media screen and (max-width:$md-breakpoint) {
        .sectionTitle__text{
            font-size: 16px;;
            margin: 10px 0;
        }

        --line-mt:10px;
        
    }
}

.services-type-icon-text {
    display: flex;
    flex-flow: column wrap;
    color: var(--white-color);
    align-items: center;
    .services-type-icon-text__icon {
        height: 200px;
        text-align: center;
        img {
            width: 120px;
            height: 100%;
        }
    }
    .services-type-icon-text__text {
        h3 {
            font-weight: 500;
            text-align: center;
            font-size: 25px;
            line-height: 1;
        }
    }
}

/* COMMENT feature work card */
.feature-work-card-area {
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    * {
        transition: 0.8s ease-out;
    }
    .feature-work-card__image {
        .image_overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 2;
            background: var(--dark-overlay-1);
            opacity: 0;
        }
        img {
            width: 100%;
        }
    }

    .feature-work-card__text {
        z-index: 5;
        padding: 20px;
        color: var(--white-color);
        position: absolute;
        z-index: 5;
        bottom: 0px;
        .text__title {
            font-weight: 600;
            position: absolute;
            transition: 0.6s;
            bottom: 10%;
        }
        .category__text,
        .iconify {
            opacity: 0;
            transition: 0.8s;
            transform: translateX(-50%);
        }
        .iconify {
            font-size: 40px;
        }
    }

    &:hover {
        .feature-work-card__image {
            .image_overlay {
                opacity: 1;
                transition: 0.8s;
            }
            img {
                transform: scale(1.2);
            }
        }
        .feature-work-card__text {
            .text__title {
                bottom: 90%;
            }
            .iconify,
            .category__text {
                transform: translateX(0);
                opacity: 1;
            }
            .iconify {
                animation-delay: 0.3s;
            }
        }
    }
}

/* COMMENT footer css start form here */
footer#footer {
    .footer-static-upper {
        position: relative;
        z-index: 5;
        background: var(--primary);
        color: var(--white-color);
        padding: 7vmin 0px;
        margin-bottom: 100vh;
    }

    .footer-fixed-parallax {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 0;
        background: url("../Images/footer-bg.jpg") no-repeat center;
        background-color: rgba(0, 0, 0, 0.315);
        background-blend-mode: soft-light;
        background-size: cover;
        top: 0px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0px;
        }
    }
}

.what-we-do-card {
    padding: 2.5rem 1.5rem;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 30px;
    box-shadow: var(--lg-shadow);
    height: 100%;
    margin-bottom: 20px;
    background: var(--secondary-very-light);
    border-radius: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    &::after{
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: var(--dark-overlay-1);
        top:0px;
        left:0px;
        clip-path: circle(0% at 0% 100%);
        transition: 0.8s;
    }
    &:hover{
        &::after{
            clip-path: circle(150% at 00% 100%);
        }
        transform: translateY(-10px);
    }
    .icon {
        text-align: center;
        margin-bottom: 10px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        img {
            height: 80%;
        }
    }
    .text {
        h5 {
            font-weight: 600;
            font-size: 25px;
            margin-bottom: 10px;
        }
        p{
            font-weight: 300;
            font-size: 15px;
        }
    }
}

/* COMMENT testimonials Card */
#testimonials-card {
    margin-bottom: 3.5rem;
    .testimonials-card__container {
        padding: 2rem 4rem;
        padding-bottom: 1rem;
        background: var(--white-color);
        box-shadow: var(--lg-shadow);
        max-width: 1000px;
        margin: auto;
        * {
            transition: 0.3s ease-in;
            transition-delay: 300ms;
        }

        .testimonials-card__review-text {
            text-align: center;
            padding-top: 2rem;
            p {
                font-size: 17px;
                color: var(--primary);
                transform: translateY(-100px);
                opacity: 0;
            }
        }

        .testimonials-card__review-stars {
            .star {
                --delay: 500ms;
                transform: scale(0);
                transition: 0.5s;
                transition-delay: var(--delay);
            }
        }

        .testimonials-card__user-info {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            margin-top: 2rem;
            transform: translateY(50px);
            opacity: 0;
            .name {
                margin-bottom: 0px;
                font-weight: bold;
                color: var(--primary-very-dark);
            }

            .profile {
                margin-bottom: -3.5rem;
                max-width: 100px;
                height: 100px;
                object-fit: cover;
                border: 3px solid var(--primary);
                margin-top: 20px;
                border-radius: 50%;
                transition-delay: 600ms;
            }
            .title {
                color: var(--grey-color);
                font-weight: 600;
            }
        }
    }

    @media screen and (max-width:700px) {
        .testimonials-card__container{
            width: 95%;
            margin-top: 50px;
            padding: 20px;
            display: flex;
            flex-flow: wrap column;

            .testimonials-card__user-info{
                order: 1;
                margin-top: 0px;
                .name{
                    order: 2;

                }
                .profile{
                    margin-bottom: 10px;
                    order: 1;
                    width: 70px;
                    height: 70px;
                }
                .title{
                    order: 3;
                    font-size: 14px;
                }
            }
            .testimonials-card__review-text{
                order: 3;
                padding-top: 5px;
                p{
                    font-size: 14px;
                }
            }
            .testimonials-card__review-stars{
                order: 2;
                .star{
                    width: 30px;
                }
            }
        }
    }
}

/* COMMENT faq Card */
.faq-card {
    margin-bottom: 1.2rem;
    &.active {
        .faq-question-label {
            background: var(--primary-very-light);
            .collapse-symbol{
                transform: rotate(-1turn);
                .line-tow{
                    transform: rotate(0deg);
                }
            }
        }
    }
    .faq-question-label {
        border: none;
        padding: 1.2rem 2rem;
        display: block;
        width: 100%;
        text-align: start;
        background: var(--white-color);
        box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.05), 0px 11px 44px rgba(2, 64, 96, 0.07);
        border-radius: 5px;
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--primary);
        border-left: 5px solid var(--primary);
        z-index: 1;

        .collapse-symbol {
            width: 35px;
            height: 35px;
            border:1px solid var(--primary);
            border-radius: 50%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;
            .line{
                position: absolute;
                width: 80%;
                height: 2px;
                background: var(--primary);
                border-radius: 20px;
            }
            .line-tow{
                transform: rotate(90deg);
            }
        }
    }

    .faq-answer {
        background: var(--white-color);
        max-height: 0px;
        overflow: hidden;
        transition: 0.5s;
        .faq-answer-body {
            padding: 20px;
            color: var(--primary-very-dark);
        }
    }
}


/* COMMENT services Card */
#services-card{
    --color:var(--white-color);
    color:var(--color);
    text-align: center;
    margin-bottom: 10%;
    padding:1.5rem;
    position: relative;
    border-radius: 20px;
    z-index: 1;
    cursor: pointer;
    .services-card__thumbnail{
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        &:hover{
            img{
                transform: scale(1.20);
            }
        }
        img{
            width: 100%;
            transition: 0.5s;

        }
    }
    .services-card__details{
        margin: 10px auto;
        margin-top: 2rem;
        h4{
            font-size: 30px;;
        }
        p{
            font-size: 14px;
        }


    }
    .animation-circle{
        position: absolute
        ;
        width: 100%;
        height: 100%;
        background: var(--secondary-very-light);
        left: 0px;;
        z-index: 2;
        top:0px;
        clip-path: circle(0% at 100% 100%);
    }
}

.my-aos-animation{
    &.fade-up{
        transition: 0.8s;
        opacity: 0;
        transform: translateY(300px);
        &.scroll-reversed{
            transform: translateY(-100px) !important;
            opacity: 0;
        }
        &.scrolled{
            transform: translate(0);
            opacity: 1;
        }
    }
}