@import "vars";
:root {
    --primary: #ff9452;
    --primary-light: #fec9a8;
    --primary-very-light: #ffefe6;
    --primary-very-dark: #866855;
    --grey-color: #c1c1c1;
    --dark-text: black;
    --white-color: white;
    // --secondary: #00a8ff;
    --secondary: #71819A;
    --secondary-very-light: #7fd3ff;
    --dark-overlay-1: #0000005d;
    --lg-heading: 8.8rem;
    --md-heading: 5rem;
    --lg-shadow: 3px 6px 51px 5px rgba(0, 0, 0, 0.08);
    border-radius: 22px;
}

@media screen and (max-width: $md-breakpoint) {
    :root {
        --md-heading: 3rem;
        --lg-heading: 4rem;
    }
    .fs-5 {
        font-size: 20px !important;
    }
}
@media screen and (max-width: $sm-breakpoint) {
    :root {
        --md-heading: 2.5rem;
        --lg-heading: 3rem;
    }
}

$colors: primary, dark-text, white-color, secondary, dark-overlay-1;
@each $color in $colors {
    .theme-#{$color} {
        color: var(--#{$color});
    }
    .theme-bg-#{$color} {
        background: var(--#{$color});
    }
}

[class*="btn"] {
    &:focus,
    &:active {
        box-shadow: none !important;
    }
}
#cm-cursor {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    z-index: 5;
    background: red;
    transform: translate(-50%, -50%);
    z-index: 1000;
    top: 0px;
    left: 0px;
    pointer-events: none;
    display: none;
}

p {
    margin-bottom: 0px;
}

header {
    position: relative;
    overflow: hidden;
    #header {
        width: 100%;
        height: 100%;
        position: fixed;
        background: #000;
        background: var(--primary);
        overflow: hidden;
        z-index: 2;

        .header__text-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            color: var(--white-color);
            position: relative;
            .header__text {
                width: 100%;
                h1 {
                    font-size: var(--md-heading);
                    font-weight: 800;
                    text-align: center;
                    &.text-c-lg {
                        font-size: var(--lg-heading);
                    }
                }

                .scroll-down {
                    text-align: end;
                    position: absolute;
                    right: 10%;
                    bottom: 20%;
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 2px;
                        height: 200px;
                        background: var(--white-color);
                        right: -18%;
                        top: -0%;
                    }
                }
            }
        }
    }
    .header-spacer {
        height: 100vh;
        padding: 100px;
        z-index: -1;
    }

    .header-animation-circle {
        width: 100%;
        height: 100%;
        background: var(--primary-light);
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 4;
        clip-path: circle(13% at -1% 99%);
        transition: 200ms ease;
    }
    #header-svg {
        position: absolute;
        z-index: 5;
        top: 10vh;
        left: 0px;
    }

    @media screen and (max-width:$md-breakpoint) {
        #header-svg{
            width: 50px;;
            display: none;
        }
        
    }
}
@media screen and (min-width: 992px) {
    .container-xxl {
        padding: 5px 70px;
    }
}
#navbar {
    color: var(--white-color);
    padding: 20px 0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;

    .content-wrapper {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        .navbar-icon {
            cursor: pointer;
            position: relative;
            width: 40px;
            height: 30px;
            z-index: 1;
            .icon-line {
                width: 100%;
                height: 7px;
                top: 0px;
                background: var(--white-color);
                margin-bottom: 5px;
                position: absolute;
                transition: 0.5s;
                &.line-1 {
                    // transform: rotate(30deg);
                }
                &.line-2 {
                    // transform: rotate(30deg);
                    top: auto;
                    bottom: 0px;
                }
            }
            &.clicked {
                .line-1 {
                    transform: rotate(44deg);
                    top: 0px;
                    left: 0px;
                }
                .line-2 {
                    transform: rotate(139deg);
                    top: 0px;
                    left: 0px;
                }
            }
        }
    }
    .navbar-hidden-items {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        background: var(--primary);
        pointer-events: none;
        clip-path: circle(17.4% at 0 50%);
        opacity: 0;
        transition: 0.5s;

        .navbar__navbar-items_container {
            height: 100%;
            display: flex;
            align-items: center;
            flex-flow: wrap column;
            justify-content: center;
            .navbar__navbar-items {
                width: 100%;
                display: block;

                .navbar__navbar-link {
                    display: inline-block;
                    color: var(--white-color);
                    text-decoration: none;
                    transition: 0.5s ease-in;
                    transform: translateY(-50px);
                    opacity: 0;
                    h1 {
                        font-size: var(--md-heading);
                        font-weight: 800;
                    }
                }
            }
        }
        &.clicked {
            opacity: 1;
            pointer-events: all;
            clip-path: circle(100% at 50% 49%);
            .navbar__navbar-link {
                transform: translateY(20px) !important;
                opacity: 1 !important;
            }
        }
    }
}

/* COMMENT 
 WHAT WE DO */
#what-we-do {
    position: relative;
    z-index: 5;
    background: var(--secondary);
    padding: 30px 0;
    padding-bottom: 10vmin;
}

/* COMMENT 
 WHAT WE DO */
#featured-work {
    position: relative;
    z-index: 5;
    padding: 7vmin 0;
    background: var(--white-color);
    color: var(--primary);
    #sectionTitle {
        --color: var(--primary);
    }
}

/* COMMENT
 WORKED WITH 
 */
#worked_with {
    padding: 15vmin 0;
    background: var(--secondary);
    position: relative;
    z-index: 5;
    .btn.btn-outline-light {
        font-weight: 500 !important;
        &:hover {
            color: var(--secondary) !important;
        }
    }

    .worked-with-left__logos-area {
        height: 100%;
        .worked-with-left__logos {
            .worked-with-left__logo-wrapper {
                position: relative;
                padding-bottom: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    position: absolute;
                    width: 40%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(1.2);
                }
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .fs-5 {
        font-size: 16px !important;
    }
}

/* 
COMMENT
contact us page css here
*/

#contact-us-form {

    
}

#contact-page {
    .header__text-wrapper {
        .header__text {
            h1 {
                font-size: var(--lg-heading) !important;
            }
        }
    }
}

/* testimonials */
#testimonials {
    position: relative;
    z-index: 5;
    background: var(--primary-very-light);
    padding: 1rem 0;
    padding-bottom: 4rem;

    #sectionTitle {
        --color: var(--primary);
        --text-display: none;
        --line-mt: 10px;
        margin-bottom: 2.5rem;
    }

    .slick-slider {
        .slick-slide.slick-active {
            div#testimonials-card {
                div.testimonials-card__container {
                    div.testimonials-card__review-text {
                        p {
                            transform: translate(0);
                            opacity: 1;
                        }
                    }
                    .testimonials-card__review-stars {
                        .star {
                            transform: scale(1);
                        }
                    }

                    div.testimonials-card__user-info {
                        transform: translate(0);
                        opacity: 1;
                        .profile {
                            clip-path: circle(70% at 50%);
                        }
                    }
                }
            }
        }

        .slick-arrow {
            background: var(--primary);
            width: 60px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 5;
            &::before {
                font-size: 1.5rem !important;
                color: var(--white-color);
            }
            &.slick-prev {
                left: 70px;
            }
            &.slick-next {
                right: 70px;
            }
        }
    }
}

/* 
COMMENT
Business Section 
*/
section#business {
    padding: 5rem;
    background: var(--primary);
    position: relative;
    z-index: 5;
    min-height: 60vh;
    justify-content: center;
    align-items: center;
    display: flex;

    .section-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(90%);
        z-index: -1;
    }
}

/* COMMENT FAQ Page Design */

#Faq-answer-question {
    background: var(--primary-very-light);   
    position: relative;
    z-index: 5;
    padding: 3rem 0;
    padding-top: 7rem;
}
.btn-theme-primary-outline {
    border: 1px solid var(--primary);
    background: none;
    color: var(--primary);
}

/* Services Page Design */
//  #services-page{
//     scroll-behavior: smooth;
// } 

#services_section {
    padding: 4rem 0;
    background: var(--secondary);
    position: relative;
    z-index: 5;
    #sectionTitle {
        --line-mt: 0px;
        --text-display: none;
        margin-bottom: 3rem;
    }
    .right-site{
        margin-top: 12rem;
    }
}
