@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary: #ff9452;
  --primary-light: #fec9a8;
  --primary-very-light: #ffefe6;
  --primary-very-dark: #866855;
  --grey-color: #c1c1c1;
  --dark-text: black;
  --white-color: white;
  --secondary: #485a73;
  --secondary-very-light: #526784;
  --dark-overlay-1: #0000005d;
  --lg-heading: 8rem;
  --md-heading: 5rem;
  --lg-shadow: 3px 6px 51px 5px rgba(0, 0, 0, 0.08);
  border-radius: 22px;
}

@media screen and (max-width: 900px) {
  :root {
    --md-heading: 3rem;
    --lg-heading: 4rem;
  }
  .fs-5 {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --md-heading: 2.5rem;
    --lg-heading: 3rem;
  }
}

.theme-primary {
  color: var(--primary);
}

.theme-bg-primary {
  background: var(--primary);
}

.theme-primary-very-light {
  color: var(--primary-very-light);
}

.theme-bg-primary-very-light {
  background: var(--primary-very-light);
}

.theme-primary-light {
  color: var(--primary-light);
}

.theme-bg-primary-light {
  background: var(--primary-light);
}

.theme-dark-text {
  color: var(--dark-text);
}

.theme-bg-dark-text {
  background: var(--dark-text);
}

.theme-white-color {
  color: var(--white-color);
}

.theme-bg-white-color {
  background: var(--white-color);
}

.theme-secondary {
  color: var(--secondary);
}

.theme-bg-secondary {
  background: var(--secondary);
}

.theme-dark-overlay-1 {
  color: var(--dark-overlay-1);
}

.theme-bg-dark-overlay-1 {
  background: var(--dark-overlay-1);
}

[class*="btn"]:focus, [class*="btn"]:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

p {
  margin-bottom: 0px;
}

header {
  position: relative;
  overflow: hidden;
}

header #header {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000;
  background: var(--primary);
  overflow: hidden;
  z-index: 2;
}

header #header .header__text-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white-color);
  position: relative;
}

header #header .header__text-wrapper .header__text {
  width: 100%;
}

header #header .header__text-wrapper .header__text h1 {
  font-size: var(--md-heading);
  font-weight: 800;
  text-align: center;
}

header #header .header__text-wrapper .header__text h1.text-c-lg {
  font-size: var(--lg-heading);
}

header #header .header__text-wrapper .header__text .scroll-down {
  text-align: end;
  position: absolute;
  right: 10%;
  bottom: 20%;
}

header #header .header__text-wrapper .header__text .scroll-down::before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 200px;
  background: var(--white-color);
  right: -18%;
  top: -0%;
}

header .header-spacer {
  height: 100vh;
  padding: 100px;
  z-index: -1;
}

header .header-animation-circle {
  width: 100%;
  height: 100%;
  background: var(--primary-light);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 4;
  -webkit-clip-path: circle(13% at -1% 99%);
          clip-path: circle(13% at -1% 99%);
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

header #header-svg {
  position: absolute;
  z-index: 5;
  top: 10vh;
  left: 0px;
}

@media screen and (max-width: 900px) {
  header #header-svg {
    width: 50px;
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .container-xxl {
    padding: 5px 70px;
  }
}

#navbar {
  color: var(--white-color);
  padding: 20px 0;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 3;
}

#navbar .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#navbar .content-wrapper .navbar-brand {
  height: 100px;
}

#navbar .content-wrapper .navbar-brand img {
  height: 100%;
}

#navbar .content-wrapper .navbar-icon {
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 30px;
  z-index: 1;
}

#navbar .content-wrapper .navbar-icon .icon-line {
  width: 100%;
  height: 7px;
  top: 0px;
  background: var(--white-color);
  margin-bottom: 5px;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbar .content-wrapper .navbar-icon .icon-line.line-2 {
  top: auto;
  bottom: 0px;
}

#navbar .content-wrapper .navbar-icon.clicked .line-1 {
  -webkit-transform: rotate(44deg);
          transform: rotate(44deg);
  top: 0px;
  left: 0px;
}

#navbar .content-wrapper .navbar-icon.clicked .line-2 {
  -webkit-transform: rotate(139deg);
          transform: rotate(139deg);
  top: 0px;
  left: 0px;
}

#navbar .navbar-hidden-items {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: var(--primary);
  pointer-events: none;
  -webkit-clip-path: circle(17.4% at 0 50%);
          clip-path: circle(17.4% at 0 50%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbar .navbar-hidden-items .navbar__navbar-items_container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#navbar .navbar-hidden-items .navbar__navbar-items_container .navbar__navbar-items {
  width: 100%;
  display: block;
}

#navbar .navbar-hidden-items .navbar__navbar-items_container .navbar__navbar-items .navbar__navbar-link {
  display: inline-block;
  color: var(--white-color);
  text-decoration: none;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
}

#navbar .navbar-hidden-items .navbar__navbar-items_container .navbar__navbar-items .navbar__navbar-link h1 {
  font-size: var(--md-heading);
  font-weight: 800;
  position: relative;
  z-index: 1;
  padding: 0px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbar .navbar-hidden-items .navbar__navbar-items_container .navbar__navbar-items .navbar__navbar-link h1::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  display: block;
  top: 0px;
  right: 0px;
  z-index: -1;
  background: var(--white-color);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#navbar .navbar-hidden-items .navbar__navbar-items_container .navbar__navbar-items .navbar__navbar-link:hover h1 {
  color: var(--primary);
}

#navbar .navbar-hidden-items .navbar__navbar-items_container .navbar__navbar-items .navbar__navbar-link:hover h1::after {
  width: 100%;
  left: 0px;
  right: auto;
}

#navbar .navbar-hidden-items.clicked {
  opacity: 1;
  pointer-events: all;
  -webkit-clip-path: circle(100% at 50% 49%);
          clip-path: circle(100% at 50% 49%);
}

#navbar .navbar-hidden-items.clicked .navbar__navbar-link {
  -webkit-transform: translateY(20px) !important;
          transform: translateY(20px) !important;
  opacity: 1 !important;
}

/* COMMENT 
 WHAT WE DO */
#what-we-do {
  position: relative;
  z-index: 5;
  background: var(--secondary);
  padding: 30px 0;
  padding-bottom: 10vmin;
}

#what-we-do #sectionTitle {
  --text-display: none;
  --line-mt: 0px;
  --line-h: 8px;
}

/* COMMENT 
 WHAT WE DO */
#featured-work {
  position: relative;
  z-index: 5;
  padding: 7vmin 0;
  background: var(--white-color);
  color: var(--primary);
}

#featured-work #sectionTitle {
  --color: var(--primary);
}

/* COMMENT
 WORKED WITH 
 */
#worked_with {
  padding: 15vmin 0;
  background: var(--secondary);
  position: relative;
  z-index: 5;
}

#worked_with .btn.btn-outline-light {
  font-weight: 500 !important;
}

#worked_with .btn.btn-outline-light:hover {
  color: var(--secondary) !important;
}

#worked_with .worked-with-left__logos-area {
  height: 100%;
}

#worked_with .worked-with-left__logos-area .worked-with-left__logos .worked-with-left__logo-wrapper {
  position: relative;
  padding-bottom: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#worked_with .worked-with-left__logos-area .worked-with-left__logos .worked-with-left__logo-wrapper img {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

@media screen and (max-width: 770px) {
  .fs-5 {
    font-size: 16px !important;
  }
}

/* 
COMMENT
contact us page css here
*/
#contact-us-form {
  padding: 5rem 0;
  background: var(--secondary);
  position: relative;
  z-index: 5;
  text-align: center;
}

#contact-us-form #sectionTitle {
  --line-mt:5px;
}

#contact-us-form #sectionTitle h1 {
  margin-bottom: 0px;
}

#contact-us-form #sectionTitle .sectionTitle__text {
  margin: 10px auto;
}

#contact-us-form #sectionTitle .line {
  height: 8px;
}

#contact-us-form .form-area .cm-input-field {
  border: none;
  padding: 15px;
  display: block;
  width: 100%;
  font-size: 1.2rem;
  background: var(--secondary-very-light);
  color: var(--white-color);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.329);
}

#contact-us-form .form-area .cm-input-field::-webkit-input-placeholder {
  color: var(--secondary);
  color: rgba(255, 255, 255, 0.452);
}

#contact-us-form .form-area .cm-input-field:-ms-input-placeholder {
  color: var(--secondary);
  color: rgba(255, 255, 255, 0.452);
}

#contact-us-form .form-area .cm-input-field::-ms-input-placeholder {
  color: var(--secondary);
  color: rgba(255, 255, 255, 0.452);
}

#contact-us-form .form-area .cm-input-field::placeholder {
  color: var(--secondary);
  color: rgba(255, 255, 255, 0.452);
}

#contact-us-form .form-area .cm-input-field:focus {
  outline: none;
}

#contact-us-form .form-area button[type="submit"] {
  border: none;
  background: none;
  font-size: 1.3rem;
  width: 250px;
  border: 3px solid var(--white-color);
  padding: 10px;
  color: var(--white-color);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#contact-us-form .form-area button[type="submit"]:hover {
  background: var(--secondary-very-light);
  color: var(--white-color);
}

#contact-page .header__text-wrapper .header__text h1 {
  font-size: var(--lg-heading) !important;
}

/* testimonials */
#testimonials {
  position: relative;
  z-index: 5;
  background: var(--primary-very-light);
  padding: 1rem 0;
  padding-bottom: 7rem;
}

#testimonials #sectionTitle {
  --color: var(--primary);
  --line-mt: 10px;
  margin-bottom: 2.5rem;
  text-align: center;
}

#testimonials #sectionTitle h1 {
  margin-bottom: 0px;
}

#testimonials #sectionTitle .sectionTitle__text {
  margin: auto;
  margin-bottom: 10px;
}

#testimonials .slick-slider .slick-slide.slick-active div#testimonials-card div.testimonials-card__container {
  border-radius: 10px;
}

#testimonials .slick-slider .slick-slide.slick-active div#testimonials-card div.testimonials-card__container div.testimonials-card__review-text p {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

#testimonials .slick-slider .slick-slide.slick-active div#testimonials-card div.testimonials-card__container .testimonials-card__review-stars .star {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#testimonials .slick-slider .slick-slide.slick-active div#testimonials-card div.testimonials-card__container div.testimonials-card__user-info {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

#testimonials .slick-slider .slick-slide.slick-active div#testimonials-card div.testimonials-card__container div.testimonials-card__user-info .profile {
  border-radius: 0%;
}

#testimonials .slick-slider .slick-arrow {
  background: var(--primary);
  width: 60px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

#testimonials .slick-slider .slick-arrow::before {
  font-size: 1.5rem;
  color: var(--white-color);
}

#testimonials .slick-slider .slick-arrow.slick-prev {
  left: 70px;
}

#testimonials .slick-slider .slick-arrow.slick-next {
  right: 70px;
}

@media screen and (max-width: 700px) {
  #testimonials .slick-slider .slick-arrow {
    background: none;
    height: auto;
    width: auto;
    top: 40%;
  }
  #testimonials .slick-slider .slick-arrow::before {
    color: var(--primary);
    font-size: 2rem;
  }
  #testimonials .slick-slider .slick-arrow.slick-prev {
    left: 10px;
  }
  #testimonials .slick-slider .slick-arrow.slick-next {
    right: 10px;
  }
}

/* 
COMMENT
Business Section 
*/
section#business {
  padding: 5rem 0;
  background: var(--primary);
  position: relative;
  z-index: 5;
  min-height: 60vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#business::after {
  content: '';
  background: rgba(0, 0, 0, 0.397);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

section#business .section-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
  z-index: -1;
}

/* COMMENT FAQ Page Design */
#Faq-answer-question {
  background: var(--secondary-very-light);
  position: relative;
  z-index: 5;
  padding: 3rem 0;
  padding-top: 7rem;
}

.btn-theme-secondary-outline {
  border: 1px solid var(--primary);
  background: none;
  color: var(--primary);
}

#services_section {
  padding: 4rem 0;
  background: var(--secondary);
  position: relative;
  z-index: 5;
}

#services_section #sectionTitle {
  --line-mt: 0px;
  --text-display: none;
  margin-bottom: 3rem;
}

#services_section .right-site {
  margin-top: 12rem;
}

#sectionTitle {
  --color: var(--white-color);
  --padding: 40px 0px;
  --line-mt: 30px;
  --text-display: block;
  --line-h:10px;
  color: var(--color);
  padding: var(--padding);
}

#sectionTitle h1 {
  font-size: var(--md-heading);
  font-weight: 700;
}

#sectionTitle .sectionTitle__text {
  max-width: 800px;
  margin: 40px 0px;
  font-size: 22px;
  display: var(--text-display);
}

#sectionTitle .line {
  background: var(--color);
  width: 40%;
  height: var(--line-h);
  margin-top: var(--line-mt);
  display: inline-block;
}

@media screen and (max-width: 900px) {
  #sectionTitle {
    --line-mt:10px;
  }
  #sectionTitle .sectionTitle__text {
    font-size: 16px;
    margin: 10px 0;
  }
}

.services-type-icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  color: var(--white-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-type-icon-text .services-type-icon-text__icon {
  height: 200px;
  text-align: center;
}

.services-type-icon-text .services-type-icon-text__icon img {
  width: 120px;
  height: 100%;
}

.services-type-icon-text .services-type-icon-text__text h3 {
  font-weight: 500;
  text-align: center;
  font-size: 25px;
  line-height: 1;
}

/* COMMENT feature work card */
.feature-work-card-area {
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.feature-work-card-area * {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
}

.feature-work-card-area .feature-work-card__image .image_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background: var(--dark-overlay-1);
  opacity: 0;
}

.feature-work-card-area .feature-work-card__image img {
  width: 100%;
}

.feature-work-card-area .feature-work-card__text {
  z-index: 5;
  padding: 20px;
  color: var(--white-color);
  position: absolute;
  z-index: 5;
  bottom: 0px;
}

.feature-work-card-area .feature-work-card__text .text__title {
  font-weight: 600;
  position: absolute;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  bottom: 10%;
}

.feature-work-card-area .feature-work-card__text .category__text,
.feature-work-card-area .feature-work-card__text .iconify {
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.feature-work-card-area .feature-work-card__text .iconify {
  font-size: 40px;
}

.feature-work-card-area:hover .feature-work-card__image .image_overlay {
  opacity: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.feature-work-card-area:hover .feature-work-card__image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.feature-work-card-area:hover .feature-work-card__text .text__title {
  bottom: 90%;
}

.feature-work-card-area:hover .feature-work-card__text .iconify,
.feature-work-card-area:hover .feature-work-card__text .category__text {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.feature-work-card-area:hover .feature-work-card__text .iconify {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

/* COMMENT footer css start form here */
footer#footer .footer-static-upper {
  position: relative;
  z-index: 5;
  background: var(--primary);
  color: var(--white-color);
  padding: 7vmin 0px;
  margin-bottom: 100vh;
}

footer#footer .footer-fixed-parallax {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 0;
  background: url("../Images/footer-bg.jpg") no-repeat center;
  background-color: rgba(0, 0, 0, 0.315);
  background-blend-mode: soft-light;
  background-size: cover;
  top: 0px;
  overflow-y: scroll;
}

footer#footer .footer-fixed-parallax::-webkit-scrollbar {
  width: 0px;
}

.what-we-do-card {
  padding: 2.5rem 1.5rem;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 30px;
  -webkit-box-shadow: var(--lg-shadow);
          box-shadow: var(--lg-shadow);
  height: 100%;
  margin-bottom: 20px;
  background: var(--secondary-very-light);
  border-radius: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.what-we-do-card::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--dark-overlay-1);
  top: 0px;
  left: 0px;
  -webkit-clip-path: circle(0% at 0% 100%);
          clip-path: circle(0% at 0% 100%);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.what-we-do-card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.what-we-do-card:hover::after {
  -webkit-clip-path: circle(150% at 0% 100%);
          clip-path: circle(150% at 0% 100%);
}

.what-we-do-card .icon {
  text-align: center;
  margin-bottom: 10px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.what-we-do-card .icon img {
  height: 80%;
}

.what-we-do-card .text h5 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
}

.what-we-do-card .text p {
  font-weight: 300;
  font-size: 15px;
}

/* COMMENT testimonials Card */
#testimonials-card {
  margin-bottom: 3.5rem;
}

#testimonials-card .testimonials-card__container {
  padding: 2rem 4rem;
  padding-bottom: 1rem;
  background: var(--white-color);
  -webkit-box-shadow: var(--lg-shadow);
          box-shadow: var(--lg-shadow);
  max-width: 1000px;
  margin: auto;
}

#testimonials-card .testimonials-card__container * {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

#testimonials-card .testimonials-card__container .testimonials-card__review-text {
  text-align: center;
  padding-top: 2rem;
}

#testimonials-card .testimonials-card__container .testimonials-card__review-text p {
  font-size: 17px;
  color: var(--primary);
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
}

#testimonials-card .testimonials-card__container .testimonials-card__review-stars .star {
  --delay: 500ms;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: var(--delay);
          transition-delay: var(--delay);
}

#testimonials-card .testimonials-card__container .testimonials-card__user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}

#testimonials-card .testimonials-card__container .testimonials-card__user-info .name {
  margin-bottom: 0px;
  font-weight: bold;
  color: var(--primary-very-dark);
}

#testimonials-card .testimonials-card__container .testimonials-card__user-info .profile {
  margin-bottom: -3.5rem;
  max-width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid var(--primary);
  margin-top: 20px;
  border-radius: 50%;
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}

#testimonials-card .testimonials-card__container .testimonials-card__user-info .title {
  color: var(--grey-color);
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  #testimonials-card .testimonials-card__container {
    width: 95%;
    margin-top: 50px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
  }
  #testimonials-card .testimonials-card__container .testimonials-card__user-info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 0px;
  }
  #testimonials-card .testimonials-card__container .testimonials-card__user-info .name {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #testimonials-card .testimonials-card__container .testimonials-card__user-info .profile {
    margin-bottom: 10px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 70px;
    height: 70px;
  }
  #testimonials-card .testimonials-card__container .testimonials-card__user-info .title {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    font-size: 14px;
  }
  #testimonials-card .testimonials-card__container .testimonials-card__review-text {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-top: 5px;
  }
  #testimonials-card .testimonials-card__container .testimonials-card__review-text p {
    font-size: 14px;
  }
  #testimonials-card .testimonials-card__container .testimonials-card__review-stars {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #testimonials-card .testimonials-card__container .testimonials-card__review-stars .star {
    width: 30px;
  }
}

/* COMMENT faq Card */
.faq-card {
  margin-bottom: 1.2rem;
}

.faq-card .faq-question-label {
  border: none;
  padding: 1.2rem 2rem;
  display: block;
  width: 100%;
  text-align: start;
  background: var(--secondary);
  -webkit-box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.05), 0px 11px 44px rgba(2, 64, 96, 0.07);
          box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.05), 0px 11px 44px rgba(2, 64, 96, 0.07);
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white-color);
  border-left: 5px solid var(--white-color);
  z-index: 1;
}

.faq-card .faq-question-label .collapse-symbol {
  width: 35px;
  height: 35px;
  border: 1px solid var(--white-color);
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.faq-card .faq-question-label .collapse-symbol .line {
  position: absolute;
  width: 80%;
  height: 2px;
  background: var(--white-color);
  border-radius: 20px;
}

.faq-card .faq-question-label .collapse-symbol .line-tow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.faq-card .faq-answer {
  background: var(--white-color);
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.faq-card .faq-answer .faq-answer-body {
  padding: 20px;
  color: var(--primary-very-dark);
}

.faq-card.active .faq-question-label {
  background: var(--white-color);
  color: var(--secondary-very-light);
  border-bottom: 7px solid var(--secondary-very-light);
}

.faq-card.active .faq-question-label .collapse-symbol {
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  border-color: var(--secondary-very-light);
}

.faq-card.active .faq-question-label .collapse-symbol .line {
  background: var(--secondary-very-light);
}

.faq-card.active .faq-question-label .collapse-symbol .line-tow {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.faq-card.active .faq-answer {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

/* COMMENT services Card */
#services-card {
  --color:var(--white-color);
  color: var(--color);
  text-align: center;
  margin-bottom: 10%;
  padding: 1.5rem;
  position: relative;
  border-radius: 20px;
  z-index: 1;
  cursor: pointer;
}

#services-card .services-card__thumbnail {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

#services-card .services-card__thumbnail:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#services-card .services-card__thumbnail img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#services-card .services-card__details {
  margin: 10px auto;
  margin-top: 2rem;
}

#services-card .services-card__details h4 {
  font-size: 30px;
}

#services-card .services-card__details p {
  font-size: 14px;
}

#services-card .animation-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--secondary-very-light);
  left: 0px;
  z-index: 2;
  top: 0px;
  -webkit-clip-path: circle(0% at 100% 100%);
          clip-path: circle(0% at 100% 100%);
}

.my-aos-animation.fade-up {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  opacity: 0;
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
}

.my-aos-animation.fade-up.scroll-reversed {
  -webkit-transform: translateY(-100px) !important;
          transform: translateY(-100px) !important;
  opacity: 0;
}

.my-aos-animation.fade-up.scrolled {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}
/*# sourceMappingURL=App.css.map */